---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "bootstrap4/bootstrap";

$header-colour: $gray-200;
$header-text-colour: darken($color: $header-colour, $amount: 50);

header {
    height: 100%;
    min-height: 100vh;
    background-color: $header-colour;
    background: url(../photo/cover_background.gif) no-repeat center center fixed; 
    background-size: cover;

    .container {
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        @extend .text-center;
        color: $header-text-colour;
        border-radius: 100%;
        background-color: transparentize($header-colour, 0.75);
        padding: 20vw;

        &:hover {
            color: lighten($color: $header-text-colour, $amount: 100);
        }
    }
}
