<header class='container'>
    <div class="container">
        <div class='row'>
            <div class='col-md-3 my-1'>
                <h4><a class="text-muted" href='/'>AikDev-Home</a></h4>
            </div>
        </div>
    </div>
    <div class='container'>
    <div class='row text-white bg-warning'>
        <div class='col-md-12 m-4'>
            <h1 class='display-2'>About</h1>
            <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
    </div>
    </div>
</header>