<header>
    <nav class="navbar navbar-toggleable navbar-light">
        <a class="navbar-brand" href="/">AikDev-Home</a>
        <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#topnav"
            aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="topnav">
            <ul class='navbar-nav'>
                <li class='nav-item'><a class='nav-link' href='/'>CV page</a></li>
                <li class='nav-item'><a class='nav-link' href='/pages/project-page'>Projects</a></li>
                <li class='nav-item'><a class='nav-link' href='/pages/personal-project-page'>Personal Projects</a></li>
            </ul>
        </div>
    </nav>
    <div class='row text-white bg-success p-4'>
        <div class='col-xs-12'>
            <h1 class='display-4'>Personal CV</h1>
            <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
    </div>
</header>