<header class='container'>
    <div class="container">
        <div class='row'>
            <div class='col-md-3 my-1'>
                <h4><a class="text-muted" href='/'>AikDev-Home</a></h4>
            </div>
            <div class='col-md-9'>
                <nav role="navigation">
                    <ul class='nav nav-tabs justify-content-end'>
                        <li class='nav-item'><a class='nav-link text-muted' href='/'>CV page</a></li>
                        <li class='nav-item'><a class='nav-link text-muted' href='/pages/project-page'>Projects</a></li>
                        <li class='nav-item'><a class='nav-link text-muted' href='/pages/personal-project-page'>Personal Projects</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class='container'>
    <div class='row text-white bg-success'>
        <div class='col-xs-12 m-4'>
            <h1 class='display-2'>Projects and CV</h1>
            <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
    </div>
    </div>
</header>