<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'/>
        
        <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

        <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    </head>
    <body>
        <div class='wrapper'>
            <header class='container'>
                {% comment %}
                <nav class='navbar navbar-toggleable-md navbar-light'>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <h1 class='navbar-brand'><a class='nav-link' href='/'>AikDev-Home</a></h1>
                    <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class='navbar-nav nav-tabs'>
                        <li class='nav-item'><a class='nav-link' href='#'>Personal CV</a></li>
                        <li class='nav-item'><a class='nav-link' href='#'>Commercial Projects</a></li>
                        <li class='nav-item'><a class='nav-link' href='#'>Personal Projects</a></li>
                        <li class='nav-item'><a class='nav-link' href='#'>LifeBlog</a></li>
                        <li class='nav-item'><a class='nav-link' href='#'>DevBlog</a></li>
                    </ul>
                    </div>
                </nav>
                {% endcomment %}
                <div class="container">
                    <div class='row'>
                        <div class='col-md-3 my-1'>
                            <h4><a class="text-muted" href='/'>AikDev-Home</a></h4>
                        </div>
                        <div class='col-md-9'>
                            <nav role="navigation">
                                <ul class='nav nav-tabs justify-content-end'>
                                    <li class='nav-item'><a class='nav-link active' data-toggle="tab" href='#'>LifeBlog</a></li>
                                    <li class='nav-item'><a class='nav-link' data-toggle="tab" href='#'>DevBlog</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class='container'>
                <div class='row text-white bg-primary'>
                    <div class='col-md-12 my-4'>
                        <h1 class='display-2'>{{ page.title }}</h2>
                        <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    </div>
                </div>
                </div>
            </header>

            <section id='contents'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-md-9 card m-3'>
                            {% comment %}
                            {% for i in (1..10) %}
                                <div class='card-block'>
                                    <h2>Post #{{ i }}</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                </div>
                            {% endfor %}
                            {% endcomment %}

                            {% for post in site.posts %}
                                <div class='card-block'>
                                    <h2 class="mb-0"><a href="{{ post.url | prepend: site.baseurl }}">Post # {{ post.title }}</a></h2>
                                    <small>{{ post.date | date: "%b %-d, %Y" }}</small>
                                    <p class='mt-3'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class='col-md-2 m-3'>
                            <div class='text-center'>
                                <img class="rounded-circle mt-3" src="https://placehold.it/96x96" />
                                 <p class='m-1'><small>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                </small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class='footer' id='footer'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-md-5 m-0'>
                            <hr/>
                        </div>
                        <div class='col-md-2 text-center'>
                            <small>@2017 aikdev.co.uk</small>
                        </div>
                        <div class='col-md-5 m-0'>
                            <hr/>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- JavaScript: placed at the end of the document so the pages load faster -->
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
        <!-- Tether (required by Bootstrap) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
        <!-- bootstrap -->
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>