<!DOCTYPE html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'/>
        
        <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

        <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    </head>
    <body>
        <div class='wrapper'>
            <header>
                <div class='jumbotron jumbotron-fluid'>
                    <div class="parallax text-center">
                        <div class='parallax-pattern-overlay'>
                            <div class='container text-center'>
                                <h1>{{ site.title }}</h1>
                                <h1 class='display-2'><a href="">Learn to Code, Code to Learn</a></h2>
                                <h3>The best time is now</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section id='features'>
                <div class='container-fluid'>
                    <div class="card-deck-wrapper">
                        <div class="card-group">
                            <div class="card card-inverse card-success text-center">
                                <div class="card-block">
                                    <h4 class="card-title">Projects and CV</h4>
                                </div>
                            </div>
                            <div class="card card-inverse card-primary text-center">
                                <div class="card-block">
                                    <h4 class="card-title">Life Blog</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <div class="card card-inverse card-info text-center">
                                <h4 class="card-title">Dev Blog</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id='about'>
                <div class='container'>
                    
                </div>
            </section>

            <section class='footer' id='footer'>
                <div class='container'>
                </div>
            </section>
        </div>

        <!-- JavaScript: placed at the end of the document so the pages load faster -->
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
        <!-- Tether (required by Bootstrap) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
        <!-- bootstrap -->
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>