<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'/>
        
        <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

        <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    </head>
    <body>
        <div class='wrapper'>
            <header>
                <div class='jumbotron'>
                    <div class="parallax text-center">
                        <div class='parallax-pattern-overlay'>
                            <div class='container text-center'>
                                <h1>{{ site.title }}</h1>
                                <h1 class='display-4'>Learn to Code-Code to Learn</h2>
                                <h3 class="lead">The best time is now</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section id='features'>
                <div class='container'>
                    <div class="card-deck-wrapper m-4">
                        <div class="card-group">
                            <div class="card card-inverse card-success text-center">
                                <div class="card-block">
                                    <h4 class="card-title">Projects and CV</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <a href="#" class="btn btn-outline-danger">under construction</a>
                                </div>
                            </div>
                            <div class="card card-inverse card-primary text-center">
                                <div class="card-block">
                                    <h4 class="card-title">Blog page</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <a href="/pages/blog-page" class="btn btn-block btn-primary">click here</a>
                                </div>
                            </div>
                            <div class="card card-inverse card-warning text-center">
                                <div class="card-block">
                                    <h4 class="card-title">About</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <a href="#" class="btn btn-outline-danger">under construction</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='container'>
                    <div id="carousel0" class="carousel slide m-4 bg-faded" data-ride="carousel">
                        {% assign num_items = 3 %}
                        <ol class="carousel-indicators">
                            {% for i in (1..num_items) %}
                                <li data-target="#carousel0" data-slide-to="{{i-1}}" {% if i==1 %}class="active"{% endif %} />
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner" role="listbox">
                        {% for i in (1..num_items) %}
                            <div class="carousel-item {% if i==1 %}active{% endif %}">
                                <img class="img-fluid mx-auto" src="https://placehold.it/750x250" />
                            </div>
                        {% endfor %}
                        <a class="carousel-control-prev" href="#carousel0" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true" />
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel0" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true" />
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </section>

            <section id='footer'>
                <div class='container mt-5 mx-auto'>
                    <div class='row'>
                        <div class='col-md-5 m-0'>
                            <hr/>
                        </div>
                        <div class='col-md-2 text-center'>
                            <small>@2017 aikdev.co.uk</small>
                        </div>
                        <div class='col-md-5 m-0'>
                            <hr/>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- JavaScript: placed at the end of the document so the pages load faster -->
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
        <!-- Tether (required by Bootstrap) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
        <!-- bootstrap -->
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>